/* styles.css */

* {
    font-family: Arial, Helvetica, sans-serif
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}

.ingredients {
    list-style-type: none;
}

img {
    height: auto;
    width: 300px;
}

.container {
    display: flex;
}

.ingredientbox {
    flex: 1 1 0
}

.stepsbox {
    flex: 4 1 0;
}